//Features
section.futures
  .container
    h1.futures__title Features
    p.futures__text Some of the features and advantages that we provide for those of you who store data in this Data Warehouse.
  .futures-slider
    .futures-slider-item
      .futures-slider-item__content
        h3 First Feature
        p Little Red Cap opened her eyes and when she saw the sunbeams dancing to and fro through the trees and how the ground was covered with beautiful flowers.
        a(href="#").futures-slider-item__btn Learn more
          +icon('arrow-link')
    .futures-slider-item
      .futures-slider-item__content
        h3 Second Feature
        p Little Red Cap opened her eyes and when she saw the sunbeams dancing to and fro through the trees and how the ground was covered with beautiful flowers.
        a(href="#").futures-slider-item__btn Learn more
          +icon('arrow-link')
    .futures-slider-item
      .futures-slider-item__content
        h3 Third Feature
        p Little Red Cap opened her eyes and when she saw the sunbeams dancing to and fro through the trees and how the ground was covered with beautiful flowers.
        a(href="#").futures-slider-item__btn Learn more
          +icon('arrow-link')
    .futures-slider-item.futures-slider-item_mark-new
      .futures-slider-item__content
        h3 Fourth Feature
        p Little Red Cap had run after the flowers. After she had gathered so many that she could not carry any more, she remembered her grandmother.
        a(href="#").futures-slider-item__btn Learn more
          +icon('arrow-link')