header {
  padding: 25px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: $white;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: static;
  }
}
.logo {
  display: inline-block;
  width: 49px;
  height: 35px;
  .icon {
    width: 100%;
    height: 100%;
  }
}
.burger {
  background: transparent;
  width: 36px;
  height: 24px;
  padding: 0;
  position: relative;
  @include mq ('1024') {
    display: none;
  }
  span {
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background: $black;
    position: absolute;
    left: 0;
    &:first-child {
      top: 0;
      transition-property: top, transform;
      transition-delay: 0s, 0.2s;
      transition-duration: 0.2s, 0.2s;
    }
    &:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
      transition: opacity 0.2s linear;
    }
    &:last-child {
      bottom: 0;
      transition-property: bottom, transform;
      transition-delay: 0s, 0.2s;
      transition-duration: 0.2s, 0.2s;
    }
  }
  &.burger-close {
    span {
      &:first-child {
        transform: rotate(45deg);
        top: 50%;
        transition: transform 0.2s linear;
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:last-child {
        transform: rotate(-45deg);
        bottom: auto;
        top: 50%;
        transition: transform 0.2s linear;
      }
    }
  }
}
.header__nav {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.15);
  max-height: 0;
  overflow: hidden;
  background: $white;
  transition: max-height 0.2s ease;
  @include mq ('1024') {
    position: relative;
    max-height: none;
    box-shadow: none;
    display: flex;
    align-items: center;
    overflow: visible;
  }
  &.open-menu {
    position: absolute;
    max-height: 800px;
  }
}
.header-menu {
  width: 100%;
  border-top: 1px solid #D6B9FF;
  @include mq ('1024') {
    border: none;
    margin-left: 131px;
  }
}
.header-menu__item {
  font-size: 27px;
  color: $black;
  border-bottom: 1px solid #D6B9FF;
  line-height: 1;
  padding: 24px 32px;
  font-weight: 500;
  @include mq ('1024') {
    border-bottom: none;
    padding: 0 10px;
    width: auto;
    display: inline-block;
    margin-right: 5%;
  }
}

.header__btn {
  margin: 44px auto;
  @include mq ('1024') {
    margin: 0;
  }
}

.header-menu__item_toggle {
  position: relative;
  padding: 0;
  @include mq ('1024') {
    padding-right: 20px;
  }
  .icon {
    width: 11px;
    height: 18px;
    position: absolute;
    top: 30px;
    right: 31px;
    transform: rotate(0);
    transition: transform 0.2s ease;
    fill: $black;
    @include mq ('1024') {
      top: 50%;
      transform: translateY(-50%) rotate(90deg);
      right: 0;
      width: 15px;
      height: 15px;
    }
  }
  &.open-submenu {
    .icon {
      transform: rotate(90deg);
      fill: $purple;
      @include mq ('1024') {
        transform: translateY(-50%) rotate(-90deg);
      }
    }
    .header-submenu {
      max-height: 500px;
      opacity: 1;
    }
  }
  span {
    display: inline-block;
    padding: 24px 32px;
    @include mq ('1024') {
      padding: 0;
    }
  }    
}

.header-submenu {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.2s ease;
  transition-property: opacity, max-height;
  border-top: 1px solid #D6B9FF;
  @include mq ('1024') {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 500;
    background: $white;
    margin-top: 24px;
    border: 1px solid #D6B9FF;
    transition: max-height 0.2s ease;
  }
}

.header-submenu__item {
  font-weight: 400;
  padding: 24px 32px 24px 62px;
  @include mq ('1024') {
    padding: 24px 10px;
    white-space: nowrap;
  }
}