h1 {
  font-size: $font-size-h1;
  text-align: center;
  font-weight: 700;
  color: $black;
  line-height: 1.28;
}

h3 {
  font-size: $font-size-h3;
  line-height: 2;
  color: $black;
} 

p {
  margin: 20px 0;
}
