.container {
  position: relative;
  width: 100%;
  max-width: $max-width;
  padding: 0 20px;
  margin: auto; 

  @include mq('768') {
    padding: 0 24px;
  }
  
  @include mq('992') {
    padding: 0 32px;
  }
}